.participation-container {
    font-size: 14px; /* Adjust the font size */
}

/* Table styles */
.participation-table {
    border-collapse: collapse; /* Ensure a single border for cells */
    border: 1px solid #ccc; /* Add a border around the table (optional) */
    width: 100%; /* Set width to 100% for full responsiveness */
}

.participation-table th,
.participation-table td {
    padding: 10px; /* Add padding to table cells */
    text-align: left; /* Align text to the left */
}

.participation-table th {
    /*background-color: #f2f2f*/
}
