/* Admin Dashboard styles */

.admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    flex-shrink: 0; /* Prevent the navbar from shrinking */
}

.dashboard-content {
    flex: 1; /* Take remaining space */
    padding-top: 60px; /* Adjust padding to accommodate the fixed navbar */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 30px;
}

.nav-link {
    font-size: 18px;
    color: #ffffff;
    margin-right: 15px;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
    background-color: #007bff;
}

.nav-link:hover {
    background-color: #0056b3;
}
